@charset "UTF-8";

/* Initial */
body{
	margin: 0;
	padding: 0;
	<!-- background-color: -->
	color: gray;
	font-family: "Avenir Next";
	font-size: 15px;
	line-height: 2;
}

p,h1,h2,h3,h4,h5,h6{
	margin-top: 0;
}

img{
	vertical-align: bottom;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

a{
	color: #3583aa;
}

a:visited{
	color: #788d98;
}

a:hover{
	text-decoration: underline;
}


/* Header */
header{
	width: 960px;
	height: 100px;
	margin: 0 auto;
	color:white;
	background-color:teal;
	border:2px solid black;
}
.header-logo{
	float:left;
	font-size:50px;
	padding:20px 40px;
}
.header-list li{
	float: left;
	padding: 33px 20px;
	font-size: 15px;
	color: gray;
}
.header-list li a:hover{
	border-bottom: 2px solid #ffffff;
	padding-bottom: 3px;
	text-decoration:  none;
}

/* Top page */
#index h1{
	font-size: 100px;
	line-height: 1;
	color: white;
	font-family: 'Bitter',serif;
	margin: 15% 20% 20% 15%;
}
#index .content{
	margin-top: 150px;
}
#index p{
	font-size: 30px;
	color: white;
	margin: 0% 20% 20% 10%;
}
.btn a{
	text-decoration: none;
	background-color: lightgray;
	color: #ffffff;
	font-size: 25px;
	font-family: 'Bitter',serif;
	width: 40%;
	display: block;
	text-align: center;
	line-height: 40px;
	margin: 5% 20% 20% 15%;
	border-radius: 5px;
	border: 3px solid #009cd3;
}
.btn a:hover{
	text-decoration: none;
	background-color: gray;
	color: #009cd3;
}
#index footer{
	width: 960px;
	margin: 150px auto 0 auto;
	text-align: center;
}
#index{
	background-image: url(images/index_ttl01.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}


.section-title{
	border-bottom: 2px solid white;
	font-size: 50px;
	font-family: cursive;
	<--padding-bottom: 15px;
	<--margin-bottom: 50px;
}
span t1{
	color: green;
}
span t2{
	color: teal;
}
span t3{
	color: navy;
}

.footer{
	background-color: gray;
	color:#fff;
	height:120px;
	padding:40px;
}
.footer-logo{
	color: black;
	float:left;
	font-size: 32px;
}
.footer-list{
	float: right;
}
.footer-list li{
	padding-bottom:20px;
}
