@charset "UTF-8";

$debug: 0;
/* If you want debug mode, change 1. */
$test: 0;
/* 1==complited
   0==implementation*/

/* Initial */
body{
	margin: 0;
	padding: 0;
	<!-- background-color: -->
	color: gray;
	font-family: "Avenir Next";
	font-size: 15px;
	line-height: 2;
}

p,h1,h2,h3,h4,h5,h6{
	margin-top: 0;
}

img{
	vertical-align: bottom;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

a{
	color: #3583aa;
	text-decoration: none;
}

a:visited{
	color: #788d98;
}

a:hover{
	text-decoration: none;
}


/* Header */
header{
	width: 960px;
	height: 100px;
	margin: 0 auto;
	background-color: #566b8f;
}

.header-logo{
	float:left;
	margin-top: 20px;
	font-size: 40px;
	text-decoration: none;
}
.header-logo:hover{
	text-decoration: none;
}

.global-nav {
  float: right;
  margin-top: 60px;
}

.grobal-nav li{
	float: left;
	margin: 30px 20px;
	font-size: 20px;
	list-style: none;
	font-family: 'Bitter' serif;
}

.global-nav li a {
  color: #ffffff;
}

.grobal.nav li a:hover{
	border-bottom: 2px solid #ffffff;
	padding-bottom: 3px;
	text-decoration:  none;
}





/* Footer */
footer{
	text-align: center;
	color:#ffffff;
	padding:20px 0;
}

.footer-logo{
	color: black;
	float:left;
	font-size: 32px;
}
.footer-list{
	float: right;
}
.footer-list li{
	padding-bottom:20px;
}


#wrap{
	clear: both;
}

.content{
	width: 960px;
	margin: 0 auto;
}


/* Top page */
#index h1{
	font-size: 100px;
	line-height: 1;
	color: white;
	font-family: 'Bitter',serif;
	margin: 15% 20% 20% 15%;
}

#index .content{
	margin-top: 150px;
}

#index p{
	font-size: 30px;
	color: white;
	margin: 0% 20% 20% 10%;
}

.btn a{
	text-decoration: none;
	background-color: lightgray;
	color: #ffffff;
	font-size: 25px;
	font-family: 'Bitter',serif;
	width: 40%;
	display: block;
	text-align: center;
	line-height: 40px;
	margin: 5% 20% 20% 15%;
	border-radius: 5px;
	border: 3px solid #009cd3;
}

.btn a:hover{
	text-decoration: none;
	background-color: gray;
	color: #009cd3;
}

#index footer{
	width: 960px;
	margin: 150px auto 0 auto;
	text-align: center;
}

#index{
	background-image: url(images/index_ttl01.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

/* #top{
	background-image: url(images/header02.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-size: 100% auto;
} */







.section-title{
	border-bottom: 2px solid white;
	font-size: 50px;
	font-family: cursive;
	<--padding-bottom: 15px;
	<--margin-bottom: 50px;
}
span t1{
	color: green;
}
span t2{
	color: teal;
}
span t3{
	color: navy;
}
